server = true
datacenter = "dc1"
bootstrap_expect = 1

log_level = "DEBUG"
ui = true


encrypt = "{{ consul_key }}"
data_dir = "/tmp"
advertise_addr = "172.16.0.10"

connect {enabled = true}

enable_central_service_config = true
